/* what order do these go in? logical? elements / class / id? generational? */

/* Overarching Elements */

html, body {
    /* display: inline-flex; */
    font-weight: 300;
    line-height: 1.5;
}

/* Top Navigation Menu */

.nav {
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
} 

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover:not(.active) {
    background-color: #ddd;
}

.nav li a.active {
    color: white;
    background-color: #4caf50;
}

/* Main Page Elements */

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: deepskyblue;
    margin: 0;
}

.body {
    text-align: justify;
}

h1 {
    color: darkblue;
    text-align: center;
}

p {
    color: darkslategray;
}

.footer {
    font-size: 0.80em;
    background-color: #666;
    margin: 0;
    padding: 2px;
    border: 5px solid darkslateblue;
}

/* ID's */

#portfolio {
    text-decoration: crimson;
}

/* Other Classes */
