{% extends "base.html" %}
{% block title %}Portfolio{% endblock %}
{% block head %}
    {{ super() }}
    <!-- can link an additional stylesheet here, or add other metatags -->
{% endblock %}


{% block content %}

    <h1>About me and my Portfolio Website</h1>

    <h3>Some additional exposition, for your edification.</h3>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Sed pulvinar odio commodo, eleifend nibh at, dictum ex. 
        Donec et tincidunt est. Maecenas blandit lorem ac nibh 
        venenatis, at sagittis elit dignissim. Sed facilisis magna 
        eu quam fringilla congue. Donec vitae dignissim ex, nec 
        iaculis sapien. Vestibulum erat erat, mollis et nisi quis, 
        placerat dictum lectus. Praesent nulla massa, ullamcorper in 
        aliquet vitae, iaculis vitae turpis. In scelerisque, orci ut 
        lacinia tincidunt, nibh lacus egestas mauris, eget tempus diam 
        nunc euismod elit. Donec in ante et libero mattis ultrices.
    </p>

    <p>
        Nam eu dui et sem consequat interdum id at neque. Integer 
        vestibulum lorem et venenatis porttitor. Integer erat lectus, 
        consequat sollicitudin maximus posuere, aliquam id lacus. Proin 
        rutrum magna sit amet metus sollicitudin aliquam. Nam a lorem 
        et felis varius vestibulum vel id nunc. Donec gravida metus 
        lacus, nec faucibus purus ultrices aliquet. Praesent ut viverra 
        ante. Nunc tempor a sem a facilisis. In ut eros cursus, 
        porttitor sapien ut, pellentesque mi. Aenean interdum quam 
        vitae est luctus, ac porta turpis convallis. Morbi non diam 
        tortor. Nullam porta nunc quam, sit amet tristique orci rutrum 
        ac. Curabitur lobortis, turpis vel sagittis sollicitudin, est 
        magna lacinia dui, id dapibus dolor dui sit amet metus.
    </p>

{% endblock %}
