<!DOCTYPE html>
<html>

    <head>
        <title>This will be a better title later.</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="../static/styles/style.css" />
    </head>


    <body>

        <!-- create nav bar - look into navbar tag class="nav"  -->
        <div class="nav">
            <ul>
                <li><a class="actve" href="#home">home</a></li>
                <li><a href="#about">about</a></li>
                <li><a href="#portfolio">portfolio</a></li>
                <li><a href="#contact">contact</a></li>
            </ul>
        </div>

        <hr>
        <br>

        <h1>For The Purposes of Testing</h1>

        <p>Let's see what we end up with...
            <sub>ok, dudeman?</sub></p>
            
        <!-- Insert page extension placeholders here  -->

    </body>

    <footer class="footer">
        &copy;2018 by <a href="mailto:glynnisthomas@gmail.com?Subject=Note%20From%20Self%20Site" >Glynnis Thomas</a>
    </footer>

</html>