<!DOCTYPE html>
<html>

    <!-- Header/ Titles / Etc. -->
    <head>
        <title>{% block title %}{% endblock %} - GT-rc</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="../static/css/shared.css" />
    </head>

    <!-- Body of Base Template  -->
    <body>

        <!-- Top Navigation Menu  -->
        <div class="nav">
            <ul>
                <li><a class="actve" href="#home">home</a></li>
                <li><a href="#about">about</a></li>
                <li><a href="#portfolio">portfolio</a></li>
                <li><a href="#contact">contact</a></li>
            </ul>
        </div>

        <br>
        
        <!-- Page Extension Code  -->
        
        <div class="body">
            {% block content %}

            {% endblock %}
        </div>
<!--
        <!- Random stuff for testing  ->

        <h1>For The Purposes of Testing</h1>

        <p>Let's see what we end up with...<em>ok, dudeman?</em></p>
        
        <p>And now, this:</p>

        <img src="../static/img/funny-password.jpeg" alt="Funny Meme Image" width="300" height="200" /> 
-->        
    </body>

    <!-- Footer -->

    <footer class="footer">
        &copy;2018 by <a href="mailto:glynnisthomas@gmail.com?Subject=Note%20From%20Self%20Site" >Glynnis Thomas</a>
    </footer>

</html>