<!DOCTYPE html>
<html>

    <!-- Header/ Titles / Etc. -->
    <head>
        {% block head %}
        <title>{% block title %}{% endblock %} - GT-rc</title>
        <meta charset="utf-8"/>
        <!-- Links up to Bootstrap -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="../static/css/shared.css" />
        {% endblock %}
    </head>

    <!-- Body of Base Template  -->
    <body>
        <header class="container">
            <div class="row">
                <h1 class="col-sm-3">GT-rc</h1>
                <!-- Top Navigation Menu (refactoring with Bootstrap) -->
                <nav class="col-sm-9 text-right">
                    <p><a class="actve" href="#home">home</a></p>
                    <p><a href="#about">about</a></p>
                    <p><a href="#portfolio">portfolio</a></p>
                    <p><a href="#contact">contact</a></p>
                </nav>
            </div>
        </header>
        <br>
        
        <!-- Page Extension Code  -->
        
        <div class="body">
            {% block content %}

            {% endblock %}
        </div>
<!--
        <!- Random stuff for testing  ->

        <h1>For The Purposes of Testing</h1>

        <p>Let's see what we end up with...<em>ok, dudeman?</em></p>
        
        <p>And now, this:</p>

        <img src="../static/img/funny-password.jpeg" alt="Funny Meme Image" width="300" height="200" /> 
-->        

    <!-- Footer -->
<!--
    <footer class="footer">
        &copy;2018 by <a href="mailto:glynnisthomas@gmail.com?Subject=Note%20From%20Self%20Site" >Glynnis Thomas</a>
    </footer>
// Refactored footer with bootstrap.
-->
    <footer class="container">
        <div class="row">
            <p class="col-sm-4">&copy; 2018 GT-rc</p>
            <ul class="col-sm-8">
                <li class="col-sm-1"><!-- Social Media Icon img tags go in here --></li>
                <li class="col-sm-1"></li>
                <li class="col-sm-1"></li>
                <li class="col-sm-1"></li>
            </ul>
        </div>
    </footer>
    
    </body>
</html>