{% extends "base.html" %}
{% block title %}Contact Me{% endblock %}
{% block head %}
    {{ super() }}
    <!-- can link an additional stylesheet here, or add other metatags -->
{% endblock %}


{% block content %}

<!-- content goes here - Make a form and send it to yourself! -->
<p>Light switch rave!</p>
<img src="../static/img/the_cheat.png" class="img-rounded" alt="The Cheat" />
<p><em>The Cheat is grounded!</em></p>

<div class="container">
    <p class="text-primary">Would love to hear from you or something!</p>

    <dl>
        <dt>Email:</dt>
            <dd>my email</dd>
        <dt>Phone, Voicemail or Text:</dt>
            <dd>cell</dd>
            <dd>google voice</dd>
        <dt>Social Media:</dt>
            <dd>twitter</dd>
            <dd>linked in</dd>
    </dl>
</div>

{% endblock %}