{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <!-- can link an additional stylesheet here, or add other metatags -->
{% endblock %}


{% block content %}
<!-- content goes here -->
<section class="jumbotron">
    <div class="container">
        <div class="row text-center">
            <h2>//TODO: Make Title</h2>
            <h2><small>My exploration of code.</small></h2>
            <a class="btn btn-primary btn-lg" href="#" data-toggle="tooltip" data-placement="bottom" title="hooray!" role="button">See Projects</a>
        </div>
    </div>
</section>
<!-- more content goes here -->
<p>Put three blocks next to each other here with background and widgets. Maybe a slider at the bottom, near the footer.</p>
<p>Testing... Random stuff!</p>
{% endblock %}