{% extends "base.html" %}
{% block title %}Portfolio{% endblock %}
{% block head %}
    {{ super() }}
    <!-- can link an additional stylesheet here, or add other metatags -->
{% endblock %}


{% block content %}
<!-- Add a Header to this page -->

<!-- Should make 4 sections below -->
<section class="container">
    <div class="row">
        <figure class="col-sm-6">
            <!-- in here put a caption and an image, then link it to a page -->
        </figure>
        <figure class="col-sm-6">
            <!-- in here put a caption and an image, then link it to a page -->
        </figure>
    </div>
    <div class="row">
        <figure class="col-sm-6">
            <!-- in here put a caption and an image, then link it to a page -->
        </figure>
        <figure class="col-sm-6">
            <!-- in here put a caption and an image, then link it to a page -->
        </figure>
    </div>
</section>

{% endblock %}